.header {
	background: purple;
	.burger-menu {
		@extend .grid-cell;
		width: 50px;
		padding: 5px 10px;
		box-sizing: border-box;
		img {
			width: 23px;
			margin: 5px;
			cursor: pointer;
			
		}
		// &:before {
		// 	content: '';
		// 	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=) #333;
		// 	width: 100%;
		// 	height: 100%;
	}
	.page-title {
		@extend .grid-cell;
		text-align: center;
		color: #fff;
	}
	.user {
		@extend .grid-cell;
		width: 50px;
		padding: 5px;
		text-align: center;
		img {
				width: 23px;
				margin: 5px;
				cursor: pointer;
			}
	}
}