// @import 'fonts';

table {
	width: 100%;
	td {
		padding: 5px;
		&.title {
			font-size: 1.8rem;
			color: #f2f2f2;
			padding: 0 0 0 44px;
			line-height: normal;
		}
		&.amount {
			text-align: right;
			font-size: 2.8rem;
			font-family: "tescobold";
			padding: 16px;
		}
	}
}
